COMPOSE_PROJECT_NAME=eric-lab
CONATINER_PREFIX=eric-lab

POSTGRES_IMAGE=eric-lab/postgres:0.0.1
BACKEND_IMAGE=eric-lab/backend:0.0.2

POSTGRES_PUBLISH_PORT=5432
BACKEND_PUBLISH_PORT=8080

POSTGRES_HOST=postgres
POSTGRES_SUPER_USER=user
